 @font-face {
     font-family: 'MODERNIZ';
     src: url('https://raw.githubusercontent.com/tw-designer/burger_singh_dynamic_menu/7681a20f701c2c2229ab7e7b98667a8bfc1be187/Moderniz.otf') format('opentype');
     font-weight: 900;
     font-style: normal;
 }

 @font-face {
     font-family: 'Rupee';
     src: url('https://raw.githubusercontent.com/tw-designer/burger_singh_dynamic_menu/7681a20f701c2c2229ab7e7b98667a8bfc1be187/Rupee.TTF') format('truetype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'AileronBold';
     src: url('https://raw.githubusercontent.com/tw-designer/burger_singh_dynamic_menu/7681a20f701c2c2229ab7e7b98667a8bfc1be187/Aileron-Bold.otf') format('opentype');
     font-weight: 700;
     font-style: normal;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Arial', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #000000;
     overflow: hidden;
     margin: 0;
     padding: 0;
 }

 .container {
     position: relative;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     aspect-ratio: 16 / 9;
 }

 .template-wrapper {
     position: relative;
     /* width: 100vw;
            height: 56.25vw; */
     /* 16:9 aspect ratio */
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: rotate(-90deg);

 }

 @media (max-height: 56.25vw) {
     .template-wrapper {
         width: 177.78vh;
         height: 100vh;
         max-width: 1920px;
         max-height: 1080px;
     }
 }

 .burger-card {
     position: relative;
     width: 1080px;
     height: 1920px;
     background: var(--bg-color, #D6004A);
     display: flex;
     flex-direction: column;
     padding: 30px;
     box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
     /* overflow: hidden; */
     transform-origin: center;
 }

 .brand-name {
     color: #026D53;
     font-family: 'MODERNIZ', sans-serif;
     font-size: 90px;
     font-style: normal;
     font-weight: 900;
     line-height: 110%;
     text-transform: uppercase;
     letter-spacing: 0.05em;
     margin-bottom: 30px;
     padding-left: 15px;
 }

 .brand-name br {
     display: block;
 }

 .content-area {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: relative;
     min-height: 0;
 }

 .burger-image-container {
     flex: 1;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     min-height: 0;
     margin-bottom: 20px;
     padding-right: 20px;
     position: relative;
 }

 .burger-image {
     /* max-width: 85%; */
     max-height: 90%;
     object-fit: contain;
     filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
     transform: rotate(90deg);
     /* transform-origin: right bottom; */
     margin-top: 4rem;
     margin-right: -8.4rem;

 }

 .price-boxes {
     margin-bottom: 2.5rem;
     display: flex;
     /* flex-direction: column; */
     /* gap: 25px; */
     align-items: center;
     justify-content: space-between;
     width: 950px;
     /* border: 1px solid black; */
     margin-left: 30px;
 }

 .price-boxes.single-box {
     justify-content: flex-start;
 }

 .price-boxes.multiple-boxes {
     justify-content: space-between;
 }

 .price-box {
     position: relative;
     background: #FFFEF7;
     border-radius: 16px;
     border: 1px solid #333;
     padding: 0;
     min-width: 380px;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
     overflow: visible;
     font-weight: bold;
     /* font-size: 50px; */
     height: 173.41px;

 }

 .price-box.veg {
     border-color: 1px solid #333;
 }

 .price-box.chicken {
     border-color: 1px solid #333;
 }

 .price-box.mutton {
     border-color: 1px solid #333;
 }

 .category-label {
     position: absolute;
     left: 160px;
     top: -75%;
     transform: translateY(-50%);
     transform: rotate(-90deg);
     width: 50px;
     height: 260px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 34px;
     font-weight: bolder;
     font-family: 'MODERNIZ', sans-serif;
     text-transform: uppercase;
     background: #FFF5DC;
     border-radius: 12px;
     letter-spacing: 0.1em;
     z-index: 100;
     writing-mode: vertical-rl;
     text-orientation: mixed;
     /* padding: 20px; */
     padding: 10px 16px 10px 10px;
 }

 .category-label.veg {
     color: #0E8714;
     background: #FFF5DC;
     border: 1px solid black;
 }

 .category-label.paneer {
     color: #0E8714;
     background: #FFF5DC;
     border: 1px solid black;
 }

 .category-label.chicken {
     color: #D32F2F;
     background: #FFF5DC;
     border: 1px solid black;
 }

 .category-label.mutton {
     color: #FF6B6B;
     background: #FFF5DC;
     border: 1px solid black;
 }

 .price-content {
     display: flex;
     padding: 34px 25px 10px 25px;
     background: #FFF5DC;
     border-radius: 24px;

 }

 .price-section {
     flex: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 0 15px;
 }

 .price-section:first-child {
     border-right: 1px solid #333;
 }

 .price-box.veg .price-section:first-child {
     border-right: 1px solid #333;
 }

 .price-box.chicken .price-section:first-child {
     border-color: 1px solid #333;
 }

 .price-box.mutton .price-section:first-child {
     border-color: 1px solid #333;
 }

 .price-item {
     font-size: 45px;
     color: #1A237E;
     /* margin-top: 16px; */
     text-align: center;
     font-family: 'AileronBold', sans-serif;
 }

 .price-value {
     /* font-weight: 100; */
     font-size: 60px;
     display: block;
     /* margin-top: 8px; */
     font-family: 'AileronBold', sans-serif;
 }

 .rupee-symbol {
     /* Rupee symbol in Rupee font */
     font-family: 'Rupee', 'AileronBold', sans-serif;
     font-weight: lighter;
     font-size: 32px;
     vertical-align: super;
     position: relative;
     top: 8px;
 }

 .price-number {
     /* Numeric part in AileronBold */
     font-family: 'AileronBold', sans-serif;
 }

 .tax-note {
     position: absolute;
     bottom: 19px;
     right: 20px;
     color: #666;
     font-size: 14px;
     opacity: 0.9;
     color: #FFF5DC;
 }

 .loading {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #666;
     font-size: 24px;
 }

 .error {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #D32F2F;
     font-size: 18px;
     text-align: center;
     padding: 20px;
 }